@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.container {
  border-radius: 20px;
  max-width: 350px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px 5px hsl(218, 50%, 9%);
}

.card {
  background-color: #14253d;
  padding: 23px;
  border-radius: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.text {
  padding: 22px 10px;
}

.text h2 {
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  text-align: left;
  padding-bottom: 10px;
}

.text p {
  text-align: left;
  font-size: 18px;
  color: hsl(215, 51%, 70%);
  padding-bottom: 20px;
}

.flex-container {
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid hsl(0, 2%, 50%);
}

.flex-container span {
  color: hsl(178, 100%, 50%);
  text-align: left;
}

.flex-container #eth {
  width: 4%;
  height: 100%;
}

.flex-container p {
  text-align: right;
}

.flex-container #clock {
  padding-left: 95px;
  margin-top: 3px;
  width: 6%;
  height: 100%;
}

.flex-container-2 {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

#profile {
  width: 12%;
  height: 100%;
  align-items: left;
}

.flex-container-2 p {
  font-size: medium;
  margin-top: 5px;
  padding-inline-end: 40px;
}

.flex-container-2 b {
  font-weight: lighter;
  color: white;
}

.flex-container-2 #profile {
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
}
